name: Integration Test
on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  build:
    name: "Labels: Test"
    env:
      JOB_NAME: ${{ github.repository }}
      BUILD_NUMBER: ${{ github.run_number }}
      CONAN_USER_HOME: ${{ github.workspace }}
      CONAN_TRACE_FILE : ${{ github.workspace }}/traces.log
    runs-on: ubuntu-latest
    steps:
      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          timeZone: 1
          format: 'YYYY-MM-DDTHH:mm:ss.SSSZ'
      - name: Get Conan
        uses: turtlebrowser/get-conan@v1.0
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Conan Config
        run: |
          conan remote add conan_repo ${{ secrets.ARTIFACTORY_REPOSITORY }}/artifactory/api/conan/conan-test -i 0 -f
          conan user -p ${{ secrets.ARTIFACTORY_PASSWORD }} -r conan_repo ${{ secrets.ARTIFACTORY_USERNAME }}
          conan config set artifact_property_build.name=${{ github.repository }}
          conan config set artifact_property_build.number=${{ github.run_number }}
          conan config set artifact_property_build.timestamp=${{ steps.time.outputs.time }}
      - name: Build
        run: conan create .
      - name: Upload
        run: conan upload aev25/stable -r conan_repo --all
      - name: Get build info
        run: |
          conan_build_info $CONAN_TRACE_FILE --output ./build_info.json
      - name: Update build info
        uses: deef0000dragon1/json-edit-action/@v1
        env:
          FILE: ./build_info.json
          KEY: name
          VALUE: ${{ github.event.repository.name }}
      - name: Update build info 2
        uses: deef0000dragon1/json-edit-action/@v1
        env:
          FILE: ./build_info.json
          KEY: started
          VALUE: ${{ steps.time.outputs.time }}
      - name: Update build info 3
        uses: deef0000dragon1/json-edit-action/@v1
        env:
          FILE: ./build_info.json
          KEY: number
          VALUE: ${{ github.run_number }}
      - name: Upload build info
        run: |
          curl -X PUT -u ${{ secrets.ARTIFACTORY_USERNAME }}:${{ secrets.ARTIFACTORY_PASSWORD }} -H "Content-type: application/json" -T ./build_info.json "${{ secrets.ARTIFACTORY_REPOSITORY }}/artifactory/api/build"
